body {
  background-image: radial-gradient(darkgray, black, black);
  height: 90vh;
  color: white;
  font-family: arial;
  animation: blur-fadein 1.5s ease-in-out forwards;
}

nav {
  /* display */
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
/* position */
  position: fixed;
  top: 2.5vh;
  left: 4vw;
  bottom: 20vh;
  width: 12.5vw;
  /* font-style */
  font-weight: bold;
  font-size: 18px;}

#logo,
#logo-two {
  animation: start 1s ease-in-out 1.5s forwards;
  display: inline-block;
}

#logo-two {
  margin-right: 24px;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 5vh;
  left: 25vw;
  right: 25vw;
  height: 5vh;
  background-color: transparent;
}

input {
  flex: 1;
  min-width: 25vw;
  max-width: 33vw;
  height: 4vh;
  padding-left: 18px;
  align-items: center;
  /* design */
  background-color: black;
  background-image: linear-gradient(90deg, rgba(255, 0, 0, 0.3), rgba(255, 255, 0, 0.3), rgba(144, 238, 144, 0.3));
  border: 1px solid rgb(114, 114, 114);
  border-radius: 5px;
  padding: 12px;
  padding-top: 18px;
  transition: all 0.25s;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
}
input::placeholder {
  font-size: 20px;
  color: lightgrey;
}

input:hover {
  animation: hover 1s ease-in-out forwards;
  border: black;
}
#profile-img {
  height: 4vh;
  width: 4vh;
  flex: 1;
  cursor: pointer;
  position: absolute;
  border-radius: 36px;
}

#tooltip-profile {
  position: relative;
  top: 5vh;
  left: -3vw;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  text-align: center;
  padding: 4px;
  opacity: 0;
  transition: opacity 0.15s;
  font-size: 15px;
}

#profile-img:hover {
  animation: hover 1s ease-in-out forwards;
}

#profile-img:hover + #tooltip-profile {
  opacity: 1;
}

.nav-option {
  cursor: pointer;
  padding: 12px;
  transition: border 0.5s;
}
.nav-option:hover {
  border: 1px  grey solid;
  border-radius: 5px;
  background-image: linear-gradient(90deg, grey, black);
}

#button-line {
  margin-left: 18vw;
  translate: 0 20vh;
  height: 96px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  transition: all 0.25s;
}

#button-line:hover {
  box-shadow: 0 0 444px black;
}

button {
  margin-right: 72px;
  height: 44px;
  width: 255px;
  font-size: 22px;
  overflow-x: visible;
  padding: 8px;

  border: 1px white;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  background-image: linear-gradient(90deg, rgba(255, 0, 0, 0.3), rgba(255, 255, 0, 0.3), rgba(0, 128, 0, 0.3));
  cursor: pointer;
  filter: saturate(150%);
  transition: all 0.25s;
}

button:hover {
  filter: saturate(350%);
  transform: scale(1.1);
  translate: 10px 0;
  box-shadow: 12px 12px 24px black;
}

span {
  opacity: 0;
}

#music {
  height: 144px;
  width: 144px;
  animation: blink .75s ease-in-out 1s forwards;
}
main {
  margin-left: 20vw;
  translate: 0 33vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 36px;
  overflow-x: scroll;
}
#music-container {
  min-height: 250px;
  min-width: 200px;
  height: 15vh;
  width: 10vw;
  background-color: transparent;
  padding: 12px;
  border: 1px solid grey;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  letter-spacing: 8px;
  margin-bottom: 36px;
  cursor: pointer;
  transition: all 0.33s;
  transition-timing-function: cubic-bezier(.45,-1.19,.42,1.79);
  margin-top: 36px;
  margin-left: 4px;
}

#music-container:hover {
  transform: scale(1.1);
}

.img-con {
  justify-content: center;
  display: flex;
}
